@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "../../scss/variables";


:host {
  //tasks
  display: block;
  font-family: Consolas;
  font-size: 10px;

  .task--header {
    border-left: 20px solid;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin-bottom: 10px;
    padding-left: 10px;
  }



  @media (max-width: $screen-xs-max) {
  }
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  }
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  }
  @media (min-width: $screen-lg-min) {
  }
}
