<!--{{data | json}}-->
<div class="limeflow">

  <section class="limeflow-container" *ngIf="render">
    <div *ngIf="limeflow" class="flow-data">
      <div class="flow-data-row-1">
        <h3 class="flow-name">{{limeflow.getName()}}</h3>
        <div class="flow-status">
          Status
          <span class="flow-status__color" [ngStyle]="{'background-color': statusColor}">&nbsp;</span>
        </div>
      </div>
      <p class="flow-data-row-2 flow-description">{{limeflow.getDescription()}}</p>
    </div>

    <!--Cytoscape flow container-->
    <div id="{{id}}" class="cytoscape-graph-container"></div>
  </section>
</div>