@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables";
@import "../scss/_variables";

:host {
  //limeFlow-component
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;

  .flow-data {
    display: flex;
    flex-direction: column;

    .flow-data-row-1 {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .flow-name {
        margin: 0;
      }

      .flow-status {
        display: flex;
        align-items: center;

        .flow-status__color {
          height: 30px;
          width: 30px;
          border-radius: 3px;
          display: inline-block;
          margin-left: 10px;
        }
      }
    }
  }

  .cytoscape-graph-container {
    background-color: #000000;
    display: block;
    height: 400px;
    margin: 0 0 10px;
    padding: 10px 0;
    border-top: 1px solid $main-pink;
    border-bottom: 1px solid $main-pink;
    overflow: hidden;
  }

  @media (max-width: $screen-xs-max) { }
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { }
  @media (min-width: $screen-md-min) {

  }
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) { }
  @media (min-width: $screen-lg-min) { }
}
