@import "../../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables";
@import "../../../scss/_variables";

:host {
  //lime-state-component
  .state-title {
    font-weight: bold;
  }

  .state-tasks-list {

    padding: 0;

    .state-task {
      display: flex;
      flex-direction: column;
      padding-left: 10px;
      padding-top: 2px;
      border-left: 20px solid;
      border-bottom: 1px dashed;
      margin-bottom: 10px;
      cursor: pointer;

      .state-task__title {
        margin-top: 0;
        font-weight: bold;
      }
    }
  }


  @media (max-width: $screen-xs-max) { }
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { }
  @media (min-width: $screen-md-min) {

  }
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) { }
  @media (min-width: $screen-lg-min) { }
}
