@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "../../scss/variables";

:host {
  //limeFlow-component
  display: flex;
  flex-direction: column;
  height: 650px;
  padding-bottom: 20px;

  #flow-status {

    .flow-status__color {
      height: 30px;
      width: 30px;
      border-radius: 3px;
      display: inline-block;
    }
  }

  .cytoscape-graph-container {
    background-color: #000000;
    display: block;
    height: 700px;
    margin-bottom: 20px;
  }

  @media (max-width: $screen-xs-max) { }
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { }
  @media (min-width: $screen-md-min) {

  }
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) { }
  @media (min-width: $screen-lg-min) { }
}
